<% @books.each do |b| %>
<div>
    <div><%= b.id %></div>
    <div><%= b.title %></div>
    <div><%= b.page %></div>
    <div><%= b.description %></div>
    <div><%= b.status %></div>    
    <div> 
    <%= link_to 'show', book_path(b) %> 
    <%= link_to 'edit', edit_book_path(b) %>
    <%= link_to 'delete', book_path(b) , method: :delete %> 
    <%= link_to 'non active', toggle_nonaktif_book_path(b) , method: :patch %> 
    <%= link_to 'active', toggle_aktif_book_path(b) , method: :patch %>
    </div>            
    <hr>
</div>
<% end %>

<%= link_to 'New Book', new_book_path %>
<%= link_to 'Active Book', active_books_path %>