<%= @title %>

<% if @book.errors %>
    <div>
        <% @book.errors.full_messages.each do |message| %>
        <div><%= message %></div>
        <%end%>
    </div>
<% end %>

<%= form_for @book, url: {action: "create"} do |f| %>

<div>
    <%= f.label :title %>    
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label :page %>    
    <%= f.text_field :page %>
</div>

<div>
    <%= f.label :description %>    
    <%= f.text_area :description %>
</div>

<div>
    <%= f.submit "Submit" %>
</div>

<% end %>